<div class="container body-home">
    <div class="row justify-content-md-center">
        <div class="col">
            <center><h2>Sua lista de tarefas</h2></center>
            <hr>
            <center>
                <a href="/register/category" class="btn btn-success btn-home">Adicionar uma categoria</a>
                <a href="/register/activity" class="btn btn-info btn-home">Adicionar uma tarefa</a>
                <a href="/logout" class="btn btn-danger btn-logout">Sair</a>
            </center>
        </div>
    </div>
    <br>
    <div class="row row-body">
        <div class="col-sm">
            <center><h3>Suas tarefas a conluir</h3></center>
            <hr>
            <div class="box-cards">
                {{#each activitys}}
                    {{#unless dataValues.concluded}}
                        <div class="card card-activity-home" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{dataValues.title}}</h5>
                                <p class="card-text">{{dataValues.action}}</p>
                                <h6 class="card-subtitle mb-2 text-muted">De: {{dataValues.date_start}}</h6>
                                <a href="/activity/conclude/{{dataValues.id}}" class="btn btn-primary btn-login">Concluir</a>
                            </div>
                        </div>
                    {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-sm">
            <center><h3>Suas tarefas concluídas</h3></center>
            <hr>
            <div class="box-cards">
                {{#each activitys}}
                    {{#if dataValues.concluded}}
                        <div class="card card-activity-home" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{dataValues.title}}</h5>
                                <p class="card-text">{{dataValues.action}}</p>
                                <h6 class="card-subtitle mb-2 text-muted">De: {{dataValues.date_start}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Até: {{dataValues.date_end}}</h6>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>